#main{
    padding: 100px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.primary-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 2px solid var(--accent-color);
    padding: 5px 15px;
    border-radius: 8px;
}

.primary-button:hover {
    background-color: var(--accent-color);
}

.primary-button:disabled {
    background-color: var(--background-color);
}

#form_definition{
    border: 2px solid var(--accent-color);
    border-radius: 8px;
}

#error {
    color: red;
}