#box{
    background-color: var(--primary-color);
    padding: 100px;
    border: 2px solid var(--accent-color);
    border-radius: 12px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center; 
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="submit"] {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 5px 15px;
    border: 2px solid var(--accent-color);
    border-radius: 12px;
    
}

input[type="submit"]:hover {
    background-color: var(--accent-color);
}

#login{
    text-align: center; 
}
