#main{
    padding: 100px;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center; 
}

form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input[type="submit"] {
    border-radius: 12px;
}

#register{
    text-align: center; 

}
